*{
        margin: 0;
        padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
.container {
    height: 80px;
    background: #ffffff;
}
.container1 {
        
        height: 600px;
        background: #2F303A;
}
.container2 {
        
        height: 648px;
        background: #F5F4FA;
}
.container3 {
        
        height: 252px;
        background: #2F303A;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

}

.dev{
        
        margin: -15px -200px 0px 70px;
        background-color: #2196F3;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 0.78px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100%;
        background-image: linear-gradient(
                90deg,
                #2196F3 37%,
                #000 30%,
                #000 70%
        );
}
.co{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.28px; 
}
header{
        text-align: center;
        
}
.contact{
        color: #757575;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 0.28px;
}
nav ul li{
        background-color: #212121;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 0.28px;
        list-style: none;
        display: inline-block;
        margin: 35px 90px 45px 20px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.zagol{
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 2.64px;
        text-transform: uppercase;
        transform: translate(0px, 200px);
        
}
.zakaz{
        
        color: #FFF;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: 30px;
        letter-spacing: 0.96px;

        width: 200px;
        height: 50px;
        
        border-radius: 4px;
        background: #2196F3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transform: translate(730px, 250px);

}

.button-icon:hover{
        background-color: #2196F3;
}

.icons{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        flex-shrink: 0;
        border-radius: 4px;
        background: #F5F4FA;
}

.tex{
        margin: 100px -100px 100px 180px;
        list-style-type: none;
        width: 250px;
        height: 85px;
        flex-shrink: 0;
        display: inline-block;
}
.zagdop{
        color: #212121;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
        letter-spacing: 0.42px;
        text-transform: uppercase;
}
.napol{
        color: #757575;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        /* 171.429% */
        letter-spacing: 0.42px;
}

.work{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #212121;
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 1.08px;
        -webkit-background-clip: text;
        transform: translate(0px, 100px);
        margin: 0px 0px 100px 0px;
}
.foto{
        display: inline-block;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        transform: translate(50px, 20px);
        list-style-type: none;
        margin: 20px -190px 100px 200px;
        border-radius: 10px;
        overflow: hidden;
}

.people{
        width: 270px;
        height: 428px;
        flex-shrink: 0;
        border-radius: 0px 0px 4px 4px;
        background: #ffffff;
        display: inline-block;
        list-style-type: none;
        margin: 20px -210px 100px 220px;
        transform: translate(40px, 30px);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.icons1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        flex-shrink: 0;
        background: #fff;
        border-radius: 100%;
        overflow: hidden;
}
.button-icons1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}
.icons1:hover{
        background-color: #2196F3;
}


.imay{
        color: #212121;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 0.48px;
        transform: translate(0px, 20px);
        margin: 0px 0px 20px 0px;
}
.spec{
        color: #757575;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.48px;
        transform: translate(0px, 10px);
        margin: 0px 0px 20px 0px;
}

.dev1 {
        background-color: #2196F3;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 0.78px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100%;
        background-image: linear-gradient(
                90deg,
                #2196F3 37%,
                #fff 30%,
                #fff 70%);
}
.stolb{
        display: flex;
        flex-direction: column;
}
.Xark{
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.42px;
        transform: translate(0px, 20px);
}
.dan{
        display: flex;
        flex-direction: column;
        color: rgba(255, 255, 255, 0.60);
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.42px;
        transform: translate(0px, 20px);
}
.dan1 {
        color: rgba(255, 255, 255, 0.60);
        text-decoration: none;
}

.socseti{
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        
}
.icons2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        flex-shrink: 0;
        background: rgba(255, 255, 255, 0.10);
        border-radius: 100%;
        overflow: hidden;
        margin: 0px 10px 30px 0px;
        transform: translate(0px, 25px);
}
.icons2:hover {
        background-color: #2196F3;
}

.spec1 {
        
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.48px;
        transform: translate(30px, 15px);
        display: flex;
        width: 47px;
        flex-direction: column;
        justify-content: center;
}
.ramka{
        width: 358px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transform: translate(0px, 25px);
}
.zakaz1 {
        color: #FFF;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: 30px;
        letter-spacing: 0.96px;

        width: 200px;
        height: 50px;
        flex-shrink: 0;

        border-radius: 4px;
        background: #2196F3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: -25px 0px 0px 370px;
        
}
.tg{
        margin: 0px 0px 0px 10px;    
}